.wrapper {
    font-size: 14px;
    margin: 10px 16px;
    h5 {
        font-weight: 500;
        line-height: 16.41px;
        margin-top: 13px;
    }
    p {
        font-weight: 300;
        line-height: 16.41px;
        margin-top: 9px;
    }
    img {
        cursor: pointer;
    }
}