* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #111111;
}

button {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.fontPoppin {
  font-family: 'Poppins', sans-serif;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexSpacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexSpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}